@import "tailwindcss";

@import "preline/variants.css";




/* Adds pointer cursor to buttons */
@layer base {
    button:not(:disabled),
    [role="button"]:not(:disabled) {
      cursor: pointer;
    }
  }
  
  /* Defaults hover styles on all devices */